<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CtrlCadastrarAtor</servlet-name>
        <servlet-class>controler.CtrlCadastrarAtor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AplCadastrarItem</servlet-name>
        <servlet-class>model.application.AplCadastrarItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CtrlCadastrarItem</servlet-name>
        <servlet-class>controler.CtrlCadastrarItem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CtrlCadastrarAtor</servlet-name>
        <url-pattern>/CtrlCadastrarAtor</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CtrlCadastrarClasse</servlet-name>
        <servlet-class>controler.CtrlCadastrarClasse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CtrlCadastrarClasse</servlet-name>
        <url-pattern>/CtrlCadastrarClasse</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CtrlCadastrarDiretor</servlet-name>
        <servlet-class>controler.CtrlCadastrarDiretor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CtrlCadastrarDiretor</servlet-name>
        <url-pattern>/CtrlCadastrarDiretor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AplCadastrarItem</servlet-name>
        <url-pattern>/AplCadastrarItem</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CtrlCadastrarTitulo</servlet-name>
        <servlet-class>controler.CtrlCadastrarTitulo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CtrlCadastrarTitulo</servlet-name>
        <url-pattern>/CtrlCadastrarTitulo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CtrlCadastrarItem</servlet-name>
        <url-pattern>/CtrlCadastrarItem</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
